<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841723120883-54jfjq4q3vrq1fj51fjen8sjhiv6dv8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841723120883-54jfjq4q3vrq1fj51fjen8sjhiv6dv8c</string>
	<key>API_KEY</key>
	<string>AIzaSyDvacEnAbXx_J1l-4Ek1y59h0oYsh7yh5E</string>
	<key>GCM_SENDER_ID</key>
	<string>841723120883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orem.zfood</string>
	<key>PROJECT_ID</key>
	<string>zfooduser</string>
	<key>STORAGE_BUCKET</key>
	<string>zfooduser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841723120883:ios:583a1dc2ddd9c797d1bb86</string>
	<key>DATABASE_URL</key>
	<string>https://zfooduser.firebaseio.com</string>
</dict>
</plist>